[submodule "sub/glm"]
	path = sub/glm
	url = https://github.com/g-truc/glm
[submodule "sub/stb"]
	path = sub/stb
	url = https://github.com/nothings/stb
[submodule "sub/soil"]
	path = sub/soil
	url = https://github.com/Sharp0802/soil
[submodule "sub/glfw"]
	path = sub/glfw
	url = https://github.com/glfw/glfw
